@import "../settings/colors.scss";

.page-header {
  background-color: $color-dark-grey;
  height: 100px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 50px;
    width: 100%;
  }
}

.page-menu__list {
  display: flex;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 0;
  margin-right: 65px;
}

.page-menu__link {
  font-size: 16px;
  text-decoration: none;
  color: $color-white;
  padding-right: 50px;
}

.page-menu__link:hover {
  color: $color-crazy-orange;
}
